@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">ABC Lines</h1>

    <button class="button1 button" id="rouge" onclick="myFunctionG(1)">C</button>
    <button class="button2 button" id="bleu" onclick="myFunctionG(2)">B</button>
    <button class="button3 button" id="noir" onclick="myFunctionG(3)">A-B-C</button>
    <p id="1">rouge: </p>
    <p id="2">bleu: </p>
    <p id="3">noir: </p>
</div>
